@model Model.Models.Post
@using Microsoft.AspNet.Identity;

<div class="row" style="margin-top:15px">

    <div class="col-md-1" style="padding:0">
        <img src="/Home/ProfilePicture/?username=@Model.Author.UserName" class="img-responsive img-circle"/>
    </div>
    <div class="col-md-10">
        <h5 style="font-weight:bold;margin-bottom:0">@Model.Author.UserName</h5>
        <p style="color:gray">@@ @Model.CreateTimestamp</p>
    </div>
    @if (Model.Author.Id == User.Identity.GetUserId ()) {
        <div class="col-md-1">
            @using(Html.BeginForm ("DeletePost/" + Model.Id, "Home", FormMethod.Post)) {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <span onclick="this.parentElement.submit()" class="glyphicon glyphicon-remove" style="cursor:pointer" data-toggle="tooltip" title="Delete post">
                </span>
            }
        </div>
    }

</div>
@if (Model.Attachment != null) {
    <div id="preview-modal-@Model.Id" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:900px">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Model.Attachment.FileName</h4>
                </div>
                <div class="modal-body">
                    <iframe id="preview-iframe-@Model.Id" style="height:650px;width:100%"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row" style="margin:10px 0">
    <div class="col-md-11 col-md-offset-1" style="padding:0">

        <div class="col-md-7" style="padding:0">
            <span class="glyphicon glyphicon-file"></span>
            <span style="font-weight:bold"> @Model.Attachment.FileName </span>
        </div>
        <div class="col-md-5">
            <a href="@Url.Action("Download", "Home", new { Model.Id })">
                <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-download"></span> Download</button>
            </a>
            <button onclick="document.getElementById('preview-iframe-@Model.Id').src='@Url.Action("Preview","Home", new { Model.Id })'" 
                    type="button" 
                    data-toggle="modal" 
                    data-target="#preview-modal-@Model.Id" 
                    class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-eye-open"></span> Preview
            </button>
        </div>
    </div>
    </div>
}
<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <p>
            @Model.Body
        </p>
    </div>
</div>

